@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

@layer utilities {
 

  .button-outline {
    @apply inline-flex w-fit h-fit  gap-2 text-nowrap bg-light-blue-400 py-2 px-4 font-semibold text-base rounded-lg  text-dark-blue-500 border-[1.3px]  border-dark-blue-500 hover:bg-light-blue-500 hover:text-dark-blue-600;
  }

  .tab {
    @apply px-5 py-3 rounded-md bg-gray-100 text-gray-800;
  }
  .tab-active {
    @apply px-5 py-3 rounded-md bg-light-blue-400 text-gray-800;
  }
  .active {
    @apply font-bold  text-dark-blue-500 !important;
  }
  .btn-text {
    @apply text-base text-gray-500 transition ease-in-out hover:text-dark-blue-500 hover:font-bold hover:scale-105 active:text-dark-blue-500;
  }

  .card {
    @apply p-5;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid #f3f4f6;
  }
.effect{
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid #f3f4f6;
}
  .label {
    @apply py-1 px-2 rounded-lg bg-gray-100 text-gray-800;
  }

  #nav-visible {
    transition: 0.3s;
  }

  .p-responsive {
    @apply px-5 sm:px-10 md:px-20 lg:px-32;
  }
  #nav-visible {
    transition: 0.3s;
  }
  /* Swiper */
  .swiper-container {
    max-height: 800px; /* Maksimal tinggi */
  }

  .card-large {
    @apply bg-white flex flex-col justify-start items-start gap-2 flex-1 p-10 rounded-2xl w-fit h-fit;  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid #f3f4f6;
  }

  /* Hidden Scroll */
  /* Menyembunyikan scrollbar pada elemen tertentu */
  .no-scroll {
    overflow: auto;
  }
  .no-scroll::-webkit-scrollbar {
    width: 0px; /* Menyembunyikan scrollbar pada Chrome, Safari, dan Edge */
  }

  .no-scroll {
    -ms-overflow-style: none; /* Menyembunyikan scrollbar pada Internet Explorer dan Edge Legacy */
    scrollbar-width: none; /* Menyembunyikan scrollbar pada Firefox */
  }
   @keyframes rotate-slow {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .animate-rotate-slow {
      animation: rotate-slow 15s linear infinite;
    }
}
